@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book Search</h1>

    <form method="post" action="/home/searchauthor">
        Author Name: <input type="text" name="author" />
        <input type="submit" value="Search" />
    </form>

</div>
